@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";

.header-nav{
    display: none;
}
.clearfix{
    height: 80px;
}
.main{
    width: 1000px;
    min-height: 600px;
    margin: 0 auto;
    // margin-bottom: 190px;
    padding-top: 40px;
}
.progress{
    width: 486px;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 34px;
    ul{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        position: relative;
        li{
            width: 162px;
            height: 44px;
            text-align: center;
            p{
                padding-bottom: 10px;
                font-size: 14px;
            }
            i{
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(/imgs/null-gress.png) no-repeat center center;
            }
            &:first-of-type i{
                background: url(/imgs/gress.png) no-repeat center center;
            }            
        }
        .center{
            &::before{
                content: "";
                height: 1px;
                background-color: #979797;
                left: 18.7%;
                position: absolute;
                top: 75%;
                width: 142px;
            }
            &::after{
                content: "";
                height: 1px;
                background-color: #979797;
                left: 52.1%;
                position: absolute;
                top: 75%;
                width: 142px;
            }
        }
    }
}
.content{
    .noshop{
        height: 213px;
        display: none;
        p{
            padding-top: 50px;
            text-align: center;
            font-size: 26px;
            color: #333;
            margin-bottom: 87px;
        }
        a{
            display: block;
            width: 198px;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            background: #b63330;
            font-size: 18px;
            color: #fff;
            text-align: center;
            text-decoration: none;
        } 
    }
    .haveshop{
        h1{
            font-size: 26px;
            color: #333;
            margin-bottom: 26px;
        }
        .shop-cart{
            h2{
                height: 34px;
                margin-bottom: 8px;
                line-height: 34px;
                font-size: 14px;
                input{
                    vertical-align: middle;
                }
                b{
                    color: #333;
                    padding: 10px 0;
                }
                i{
                    margin-left: 18px;
                    color: #333;
                    span{
                        color: #b63330;
                        font-weight: bold;
                    }
                }
            }
            ul{
                border-top: 1px solid #b7b7b7;
                border-bottom: 1px solid #b7b7b7;
                padding: 0 29px;
                margin-bottom: 15px;
                li{
                    border-bottom: 1px dashed #605f5f;
                    &:last-child{
                        border-bottom: none;
                    }
                    .choose{
                        display: flex;
                        justify-content: space-between;
                        .input{
                            padding-top: 15px;
                        }
                        .option{
                            display: flex;
                            justify-content: end;
                            div{
                                cursor: pointer;
                                font-size: 14px;
                                height: 50px;
                                line-height: 50px;
                                margin-left: 30px;
                                position: relative;
                                text-align: right;
                                width: 58px;
                            }
                        }
                    }
                    .content{
                        padding-bottom: 28px;
                        display: flex;
                        justify-content: space-between;
                        .show{
                            display: flex;
                            justify-content: flex-start;
                            a{
                                display: block;
                                img{
                                    width: 160px;
                                    height: 160px;
                                }
                            }
                            .info{
                                padding-left: 30px;
                                padding-top: 20px; 
                                width: 330px;
                                color: #333;
                                h4{
                                    font-size: 18px;
                                    line-height: 18px;
                                    padding-bottom: 30px;
                                    a{
                                        color: #333;
                                        text-decoration: none;
                                    }
                                }
                                p{
                                    font-size: 14px;
                                    color: #333;
                                    line-height: 14px;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                        .price{
                            h4{
                                padding-top: 20px;
                                padding-bottom: 15px;
                                text-align: right;
                            }
                            p{
                                width: 90px;
                                height: 25px;
                                position: relative;
                                border: 1px solid #bcbcbc;
                                span{
                                    font-size: 14px;
                                    position: absolute;
                                    left: -35px;
                                    top:12px;
                                }
                                i{
                                    display: inline-block;
                                    width: 25px;
                                    height: 25px;
                                    cursor: pointer;
                                    &:first-of-type{
                                        background: url(/imgs/minus_dark.png) no-repeat center;
                                    }
                                    &:last-of-type{
                                        background: url(/imgs/add_dark.png) no-repeat center;
                                    }
                                }
                                input{
                                    vertical-align: top;
                                    width: 38px;
                                    height: 25px;
                                    outline: 0;
                                    padding: 0;
                                    color: #999;
                                    text-align: center;
                                    border: 0;
                                    border-left: 1px solid #bcbcbc;
                                    border-right: 1px solid #bcbcbc;    
                                }
                            }
                        }
                    }
                }
            }
        }
        .checkout{
            padding-bottom: 92px;
            display: flex;
            justify-content: space-between;
            &-left{
                &-help{
                    width: 300px;
                    height: 155px;
                    padding: 20px;
                    border: 1px solid #b2b2b2;
                    margin-bottom: 10px;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    position: relative;
                    h4{
                        font-size: 16px;
                        color: #333;
                        line-height: 18px;
                        margin-bottom: 10px;
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        position: relative;
                        font-size: 14px;
                        color: #333;
                        line-height: 20px;
                        padding-left: 14px;
                        &::before{
                            content: "";
                            height: 3px;
                            left: 0;
                            position: absolute;
                            top: 10px;
                            width: 3px;
                            border-radius: 50%;
                            background: #424242;
                        }
                    }
                }
                &-continue{
                    display: block;
                    width: 300px;
                    height: 50px;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    border: 1px solid #b2b2b2;
                    line-height: 50px;
                    font-size: 18px;
                    color: #333;
                    text-align: center;
                    text-decoration: none;
                }
            }
            &-right{
                &-info{
                    width: 242px;
                    margin-bottom: 37px;
                    font-size: 18px;
                    color: #333;
                    line-height: 28px;
                    p{
                        display: flex;
                        justify-content: space-between;
                        &:last-of-type{
                            margin-bottom: 20px;
                            span{
                                color: #b63330;
                            }
                        }
                    }
                    h4{
                        font-size: 24px;
                        display: flex;
                        justify-content: space-between;
                        span{
                            color: #b63330;
                        }
                    }
                    h5{
                        font-size: 14px;
                        i{
                          color: #b63330;  
                        }
                    }
                }
                &-btn{
                    width: 198px;
                    height: 50px;
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    line-height: 50px;
                    background: #b63330;
                    position: relative;
                    right: -44px;
                    cursor: pointer;
                }
            }
        }
    }
}

.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba($color: #000000, $alpha: 0.3);
    .modify{
        width: 800px;
        height: 580px;
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        &-header{
            width: 100%;
            height: 70px; 
            line-height: 70px;
            display: flex;
            justify-content: space-between;
            a{
                margin-left: 50px;
                color: #333;
            }
            span{
                margin-right: 50px;
                font-size: 30px;
                cursor: pointer;
            }
        }
        &-content{
            h3,h4{
                font-size: 24px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
            h4{
                margin-bottom: 30px;
            }
            &>div{
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
            }
            &-img{
                width: 520px;
                height: 390px;
                a{
                    display: block;
                    margin: 0 auto;
                    width: 350px;
                    height: 350px;
                    margin: 0 auto;
                }
                img{
                    width: 350px;
                    height: 350px;
                }
            }
            &-type{
                display: inline-block;
                width: 200px;
                .size,.num{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    min-width: 10px;
                    line-height: 28px;
                    font-size: 12px;
                }
                .choose{
                    position: relative;
                    width: 98px;
                    height: 28px;
                    border: 1px solid #b7b7b7;
                }
                i{
                    width: 31px;
                    height: 28px;
                    display: block;
                    background: url(/imgs/detail.png) no-repeat scroll 11px -132px transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 3;
                    border-left: 1px solid #b7b7b7;
                }
                select{
                    width: 98px;
                    height: 28px;
                    position: absolute;
                    -webkit-appearance: none;
                    border: none;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                    font-family: "tradegothic";
                    text-align: center;
                    font-size: 12px;
                    option{
                        text-align: center;
                        font-weight: normal;
                        display: block;
                        white-space: pre;
                        padding: 0px 2px 1px;
                    }
                }
                .btn{
                    width: 200px;
                    height: 50px;
                    background-color: #940000;
                    text-align: center;
                    line-height: 48px;
                    color: #FFF;
                    font-family: "Microsoft yahei";
                    font-size: 16px;
                    border: 0;
                    font-weight: bold;
                    cursor: pointer;
                    margin: 0 auto;
                    &:hover{
                        background-color: #bf6766;
                        -webkit-transition-duration: .3s;
                    }
                }
            }
        }
    }
}